body {
    width: 100%;
    height: 100%;
    padding: 15px;
}

.box {
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fafafa;
    padding: 3px;
    margin: 3px;
}

.title {
    padding: 2px;
    text-align: center;
    font-weight: bold;
    width: 100%
}

.tools {
    padding: 10px;
    text-align: left;
}